.header__logo {
    background-image: url(../../../images/logo.png);
    width: 176px;
    height: 52px;
    position: absolute;
    background-size: cover;
    top: 28px;
    left: 48px;
}

@media screen and (max-width: 426px) {
    .header__logo {
        width: 142px;
        height: 42px;
        position: absolute;
        top: 16px;
        left: 16px
    }
}