.intro {
    width: 90%;
    margin: 92px auto 0 auto;
}

@media screen and (max-width: 426px) {
    .intro {
        margin-top: 64px;
    }
}

@media screen and (min-width: 1280px) {
    .intro {
        width: 75%;
    }
}